-content_for :meta_title, 'Benefits For sellers | Global Supplies' 
-content_for :meta_description, "Benefits For sellers | #{t("meta.global_static_description")}"
.benefits-page.for_seller
  %section.benefits-page--hero
    .container
      .row
        .col-lg-6.col-12.text-block
          .main-text
            %h1.main-title=t("common.benefits_seller.main_title")
            .subtitle 
              %h2.main-subtitle=t("common.benefits_seller.main_subtitle")
            %ul.benefits-list
              %li=t("common.benefits_seller.main_list_1")
              %li=t("common.benefits_seller.main_list_2")
              %li=t("common.benefits_seller.main_list_3")
        .col-lg-6.col-12.form-block
          %app-add-offer-form{id: "app-add-offer-form"}
  %section.video-block
    .container
      .row
        .col-lg-6.col-md-12
          .video-block--text
            %h3=t("common.benefits_seller.video_block_title")
            %p=t("common.benefits_seller.video_block_p_1")
            %p=t("common.benefits_seller.video_block_p_2")
            %p=t("common.benefits_seller.video_block_p_3")
            %a.btn{href:"/Global_Supplies_B2B_information_platform.pdf", target:"_blank"}=t("common.benefits_seller.download_report")
        .col-lg-6.col-md-12
          .promo-video
            %iframe{rel: 'nofollow',:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "400", :src => "https://www.youtube.com/embed/99to5Fxf9KQ", :width => "660"}
  %section.features
    %h3=t("common.benefits_buyer.features_title")
    .container
      .row
        .col-md-6
          .features--item
            .img
              =image_tag("benefits-icon_1.svg")
            .text=t("common.benefits_seller.feature_1")
        .col-md-6
          .features--item
            .img
              =image_tag("benefits-icon_2.svg")
            .text=t("common.benefits_seller.feature_2")
        .col-md-6
          .features--item
            .img
              =image_tag("benefits-icon_3.svg")
            .text=t("common.benefits_seller.feature_3")
        .col-md-6
          .features--item
            .img
              =image_tag("benefits-icon_4.svg")
            .text=t("common.benefits_seller.feature_4")
  %section.news
    %h3 News
    .container
      .row
        - Content::Post.active.limit(3).order(id: :desc).each do |item|
          .col-4
            .news--item{href: article_path(id: item.seo_name)}
              .img
                %a{href: article_path(id: item.seo_name)}
                  %img{alt: item.title, src: item.image.attached? ? item.image.try(:service_url) : image_path("article-img.png")}/
              .text
                %h5=item.title
                %p.date=item.created_at.strftime("%d %b %Y")
                .preview
                  %p=item.anons

  %section.contact-us
    .container
      .contact-form
        %h5=t("common.pricing_page.form_title") 
        %p=t("common.pricing_page.form_subtitle")
        = form_for Subscriber.new, url: subscribe_url do |f|
          .form_row
            = f.text_field :email, class: "txtinput", placeholder: "Enter Your contact number, WhatsApp, WeChat"
            = f.submit t("common.send"), class: "btn"
:javascript

  let accItem = document.getElementsByClassName('js-acc-item');
  let accHD = document.getElementsByClassName('js-acc-heading');
  for (i = 0; i < accHD.length; i++) {
      accHD[i].addEventListener('click', toggleItem, false);
  }
  function toggleItem() {
    let item = this.parentNode;
    for (i = 0; i < accItem.length; i++) {
      accItem[i].classList.remove('open');
    }
    item.classList.add('open');
  }

  function countdown(endDate) {
    let days, hours, minutes, seconds;
  
    endDate = new Date(endDate).getTime();
  
    
  
    setInterval(calculate, 1000);
  
    function calculate() {
      let startDate = new Date().getTime();
      
      let timeRemaining = parseInt((endDate - startDate) / 1000);
      if (timeRemaining >= 0) {
        days = parseInt(timeRemaining / 86400);
        timeRemaining = (timeRemaining % 86400);
        
        hours = parseInt(timeRemaining / 3600);
        timeRemaining = (timeRemaining % 3600);
        
        minutes = parseInt(timeRemaining / 60);
        timeRemaining = (timeRemaining % 60);
        
        seconds = parseInt(timeRemaining);
        
        document.getElementById("days").innerHTML = parseInt(days, 10);
        document.getElementById("hours").innerHTML = hours < 10 ? "0" + hours : hours;
        document.getElementById("minutes").innerHTML = minutes < 10 ? "0" + minutes : minutes;
        document.getElementById("seconds").innerHTML = seconds < 10 ? "0" + seconds : seconds;
      } else {
        return;
      }
    }
  }
  document.addEventListener("DOMContentLoaded", function(event) { 
    setTimeout(function(){ countdown(#{cookies[:timer].to_i}); }, 2000);
  });
   