.row
  .col-md-3
    = state_block :seller_step, initial_value: :false
  .col-md-3
    = state_block :buyer_step, initial_value: :false
  .col-md-3
    = select_block :position, :positions, ng_required: true
.row
  .col-md-12
    = lang_tabs_block_v2 do |locale|
      = input_for_lang_tabs :string, :title , locale, ng_required: true
