.row{ng_if:"!editedItem.id"}
  .col-md-12
    = string_block :code, ng_required: true
.row
  .col-md-12
    = lang_tabs_block_v2 do |locale|
      = input_for_lang_tabs :string, :title , locale, ng_required: true
      = rich_text_editor :text, locale, required: true, id: "text_#{locale}"