!!!5
%html
  %head
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-115015564-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115015564-1');
    %link{:href => "/favicon/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/favicon/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/favicon/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/favicon/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/favicon/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/favicon/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/favicon/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/favicon/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/favicon/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "/favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/favicon/manifest.json", :rel => "manifest"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "/favicon/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    / Search console
    %meta{:content => "AkLEzizvTKMrUpFnhvKJ5dUMfOHfcjgsBxMXauTqBXg", :name => "google-site-verification"}/
    %title= I18n.t('common.title')
    %link{:href => "https://globsupplies.com/landing/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "https://globsupplies.com/landing/vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,600,700", :rel => "stylesheet"}/
    / Plugin CSS
    %link{:href => "https://globsupplies.com/css/906529b.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://globsupplies.com/css/f049467.css", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    %link{:href => "https://globsupplies.com/css/d0da9bc.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://globsupplies.com/css/d4829f6.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://globsupplies.com/css/668ae70.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:async => "", :defer => "defer", :src => "https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit"}
    / Global site tag (gtag.js) - Google Ads: 816475260
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=AW-816475260"}
    / Start of HubSpot Embed Code
    %script#hs-script-loader{:async => "", :defer => "defer", :src => "//js.hs-scripts.com/6671711.js", :type => "text/javascript"}
    / End of HubSpot Embed Code
    /Mailchimp general code  to enable pop-up forms and Google remarketing ads.
    %script#mcjs
      :cdata
        \!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/2f0c64d332f18eea892b395f9/8fd8545e68d5393478351ccba.js");


    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-816475260');
    :javascript
      gtag('event', 'conversion', {'send_to': 'AW-816475260/HWJWCO7LzbgBEPzYqYUD'});

    / Facebook Pixel Code
    :javascript
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '742711365932762');
      fbq('track', 'PageView');
    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=742711365932762&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
    / End Facebook Pixel Code
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W4PPCSJ');
    / End Google Tag Manager
    :javascript
      document.oncopy = function () { 
        var bodyElement = document.body; 
        var selection = getSelection(); 
        var href = document.location.href; 
        var copyright = "<br><br>See more at: <a href='"+ href +"'>" + href + "</a><br>© Global Supplies "; 
        var text = selection + copyright; 
        var divElement = document.createElement('div'); 
        divElement.style.position = 'absolute'; 
        divElement.style.left = '-99999px'; 
        divElement.innerHTML = text; 
        bodyElement.appendChild(divElement); 
        selection.selectAllChildren(divElement); 
        setTimeout(function() { 
          bodyElement.removeChild(divElement);
        }, 0);
      };
    = Gon::Base.render_data
    = csrf_meta_tags
    = javascript_include_tag 'i18n'
    = javascript_include_tag 'translations', skip_pipeline: true
    = javascript_pack_tag 'landing'
    = stylesheet_pack_tag 'application'
    = stylesheet_pack_tag('application', media: 'print')

  %body
    %app-header#app-header
    %header.masthead.text-center.text-white.d-flex
      .container.my-auto
        .row
          .col-lg-11.mx-auto.mt-5
            %h1.text-uppercase
              %strong INTERNATIONAL B2B MARKETPLACE FOR DIRECT WHOLESALE TRADING OF MEAT PRODUCTS
            %p.text-faded.text-mst.mb-4
              Buy and sell meat using the first B2B platform where you can
              trade online with producers, importers and distributors.
          .col-lg-7.mx-auto.mt-4.txt-w-s.display_none
            %p.text-with-search Look for your product
            / <form>
            .mx-auto
              .input-group.mx-auto
                %input#search.form-control{:autocomplete => "off", :name => "search", :placeholder => "Type your search here", :type => "text"}/
                .input-group-btn
                  %button.btn-search{:onclick => "parent.location='/en/offer/subcategory/19'"}
                    %i.fa.fa-search.sr-icons.text-search-btn
              %div{:id => "resSearch invisible"}
            / </form>
          .col-lg-10.mx-auto.mt-5
            %a.btn.btn-primary.btn-xl.js-scroll-trigger{:href => "/en/register/"} Get Started For Free
    %section#about.bg-white.text-black
      .container
        .row
          .col-lg-5.mx-auto.my-4
            %h3.section-heading MEAT TRADE VIA GLOBAL SUPPLIES
            %p.text-black.mb-4.sm-ligh
              Global Supplies is a modern meat trading tool directly between the
              manufacturer and the importer or distributor. It is an international B2B Internet platform that
              hosts a wide range of products directly from manufacturers, and abroad range of consumer
              queries.
            %form.lead-magnet{:action => "/en/lead_magnet", :method => "post", :name => "lead_magnet_form"}
              %h3 5 secret ways to increase the number of clients
              %p Download insider information from one of the market leaders
              %input#lead_magnet_form_email{:name => "lead_magnet_form[email]", :placeholder => "Enter your email", :title => "Enter your email", :type => "email"}/
              #lead-magnet-error
              %input{:type => "submit", :value => "Download"}/
              %input#lead_magnet_form_page{:name => "lead_magnet_form[page]", :type => "hidden", :value => "home"}/
              %input#lead_magnet_form__token{:name => "lead_magnet_form[_token]", :type => "hidden", :value => "imZopnSO6qjyfdK8P80Rt4xyV_0gArXC7HPlUD6HCog"}/
          .col-lg-6.mx-auto
            %img.img-fluid.sr-img{:alt => "World Trade Map", :src => "https://globsupplies.com/landing/img/3.gif"}/
    %section#services.bg-gray.text-black
      .container
        .row
          .col-lg-12.text-center
            %h3.section-heading HOW IT WORKS?
          .col-lg-6.mx-auto.text-center
            %p.text-black.mb-4.sm-ligh In order to combine supply and demand on one site, we decided to allow meat producers  to display their products on the site. Customers place requests. We abandoned all sorts of hidden commissions. Our goal is to optimize food flows from regions to surplus in deficit regions.
          .col-lg-0.mx-auto.text-center
            %img.img-fluid.serv-full{:alt => "Trade process", :src => "https://globsupplies.com/landing/img/info1.png"}/
            %img.img-fluid.serv-mob{:alt => "Trade process", :src => "https://globsupplies.com/landing/img/info2.png"}/
    %section#calltoaction2.bg-two-weeks.text-black
      .container.text-center
        .row
          .col-10.mx-auto
            %h3.section-heading.mb-5.mt-3 Register now and start using platform for free!
        %a.btn.btn-default-red.btn-xl-red{:href => "/en/register/"} Registration
    %section#advantages.bg-white.text-black
      .container
        .row
          .col-lg-6.mx-auto.text-center.mb-4.mt-5
            %h4.section-heading
              We are not just an online service, we are Eurocommerce LTD, a company that
              has been in the meat market for 20 years, and offers a modern trading tool, the benefits of
              which:
      .container
        .row
          .col-lg-3.col-md-6.pull-left
            .service-box.mt-5.mx-auto
              .col-lg-1.d-inline
                %i.iicon.iicon-1.text-primary.mb-3.sr-icons
              .col-lg-3.d-inline.text-i
                %h5 Ability to work directly with the supplier
                %p.mb-0 We offer full direct cooperation within the platform, correspondence, calls, tenders and other services in one information field.
          .col-lg-3.offset-lg-1.col-md-6.pull-left
            .service-box.mt-5.mx-auto
              .col-lg-1.d-inline
                %i.iicon.iicon-2.text-primary.mb-3.sr-icons
              .col-lg-3.d-inline.text-i
                %h5 Online trading
                %p.mb-0
                  Online trading with all market participants - on our site you can provide a
                  price comment (BID) under each offer.
          .col-lg-3.offset-lg-1.col-md-6.pull-left
            .service-box.mt-5.mx-auto
              .col-lg-1.d-inline
                %i.iicon.iicon-3.text-primary.mb-3.sr-icons
              .col-lg-3.d-inline.text-i
                %h5 Standardization of Incoterms
                %p.mb-0 In your personal office you can use standardized every incoterms business process, which allows you to conduct structured workflow in one information field.
          .col-lg-3.col-md-6.pull-left
            .service-box.mt-5.mx-auto
              .col-lg-1.d-inline
                %i.iicon.iicon-4.text-primary.mb-3.sr-icons
              .col-lg-3.d-inline.text-i
                %h5 Implemented all the user's wishes
                %p.mb-0 We are a food platform that has already implemented all the user's wishes.
          .col-lg-3.offset-lg-1.col-md-6.pull-left
            .service-box.mt-5.mx-auto
              .col-lg-1.d-inline
                %i.iicon.iicon-5.text-primary.mb-3.sr-icons
              .col-lg-3.d-inline.text-i
                %h5 Security
                %p.mb-0
                  Every registration Global Services Security checks thoroughly for the relevance
                  of the data entered and the integrity of the user.
          .col-lg-3.offset-lg-1.col-md-6.pull-left
            .service-box.mt-5.mx-auto
              .col-lg-1.d-inline
                %i.iicon.iicon-6.text-primary.mb-3.sr-icons
              .col-lg-3.d-inline.text-i
                %h5 Openess
                %p.mb-0
                  We are an open company that does not work with hidden pricing tools or for
                  secret fees.
    %section#start.bg-white.text-black
      .container
        .row
          .col-lg-12.text-center
            %h3.section-heading
              How to start an active job
              at Global Supplies?
      .container
        .row
          .col-lg-4.mx-auto.my-4
            .tabs
              #vv-m.tab-img-mob
                %video#video-cast-m.img-fluid.bg-tab{:autoplay => "", :loop => "", :muted => ""}
                  %source{:src => "https://globsupplies.com/landing/img/reg.mp4", :type => "video/mp4"}
                    Your browser does not support the video tag.
              %nav.tabs_nav.mx-auto
                %ul
                  %li.active
                    %a{:href => "#tab-1"} Registration
                  %li
                    %a{:href => "#tab-2"} Trade
                  %li
                    %a{:href => "#tab-3"} Purchase
                  %li
                    %a{:href => "#tab-4"} Business process
              .tabs_content
                #tab-1.tab_content.active{:bg => "https://globsupplies.com/landing/img/reg.mp4"}
                  %span.tab-hd Registration
                  %p You need to register, post an offer or request, compete online with the rest of the market participants, choose the most favorable terms, initiate a step-by-step business buying / selling process.
                #tab-2.tab_content.display_none{:bg => "https://globsupplies.com/landing/img/trade.mp4"}
                  %span.tab-hd Trade
                  %p Post offers if you are a seller or RFQ (inquiry) if you are a buyer, go to marketplace, chat with each other, place BID`s.
                #tab-3.tab_content.display_none{:bg => "https://globsupplies.com/landing/img/buy.mp4"}
                  %span.tab-hd Purchase
                  %p Choose a product that you like the most and buy directly from marketplace.
                #tab-4.tab_content.display_none{:bg => "https://globsupplies.com/landing/img/bs.mp4"}
                  %span.tab-hd Business process
                  %p You can leave your daily routine to GlobalS, all buying and selling steps are standardized in business process, so you can easily control the trading process.
          .col-lg-8.mx-auto.tab-img-full
            #vv
              %video#video-cast.img-fluid.bg-tab{:aytoplay => "", :loop => "", :muted => ""}
                %source{:src => "https://globsupplies.com/landing/img/reg.mp4", :type => "video/mp4"}
                  Your browser does not support the video tag.
    %section#calltoaction1.bg-making-money.text-black
      .container.text-center
        %h3.section-heading.mb-4.mt-3 Start Making Money With Global Supplies Easily!
        %a.btn.btn-default-red.btn-xl-red.sr-button{:href => "/en/register/"} Free to use
    %section#bid.bg-white.text-black
      .container
        .row
          .col-lg-12.text-center
            %h3.section-heading
              We offer the most adapted functionality
              for meat b2b business
        .row.bid-mt
          .col-lg-6.col-md-6.mx-auto
            #vv-bid
              %video#video-cast-bid.img-fluid{:aytoplay => "", :loop => "", :muted => ""}
                %source{:src => "https://globsupplies.com/landing/img/bid.mp4", :type => "video/mp4"}
                  Your browser does not support the video tag.
          .col-lg-5.col-md-5.mx-auto.my-3
            %h3.section-heading-red.mb-4 BID
            %p.text-black.sm-reg
              You can trade (to give BID) in online mode with all market participants, offer your prices, time, and type of delivery at once  under the offer.
              There is no such place anywhere!
              You will see pricing statistics throughout the platform time -
              %span.bb-text Global Supplies is an endless tool for price and market analysis!
            %a.btn.btn-default-red.btn-xl-offer.sr-button{:href => "/en/offer/"} Give a Bid
    %app-footer#app-footer
  / Chat bot
  %script#hs-script-loader{:async => "", :defer => "defer", :src => "//js.hs-scripts.com/6671711.js", :type => "text/javascript"}

